{% extends 'portfolio/base.html' %}

{% block content %}
<div class="container">
    <h2>Compétences de la catégorie : {{ category.name }}</h2>
    <div class="row">
        {% for skill in skills %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'portfolio:skill_details' skill.id %}">{{ skill.name }}</a>
                    </h5>
                    <p class="card-text">{{ skill.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}