{% extends 'portfolio/base.html' %}

{% block content %}
<script>
    $(document).ready(function () {
        // Initialise les tooltips
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<style>
    .tooltip {
        font-size: 14px;
        max-width: 200px;
    }

    .category-title {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
    }

    .subcategory-title {
        font-size: 18px;
        margin-bottom: 5px;
        color: #666;
    }

    .card-category {
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .card-category .card-header {
        background-color: #f8f9fa;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    .card-category .card-body {
        padding: 20px;
    }

    .skill-card {
        margin-bottom: 10px;
        text-align: center;
        background-color: #f8f9fa;
        border-radius: 5px;
        border: 1px solid #dee2e6;
        position: relative;
    }

    .skill-card .card-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .skill-card .card-text {
        font-size: 14px;
        margin-bottom: 0;
    }
</style>

<div class="container">
    <h2 class="text-center mb-4">Compétences</h2>
    {% for category in categories %}
    <div class="card card-category">
        <div class="card-header">
            <a href="{% url 'portfolio:category_skills' category.id %}">{{ category.name }}</a>
        </div>
        <div class="card-body">
            {% for subcategory in category.subcategory_set.all %}
            <div class="subcategory-title">
                <a href="{% url 'portfolio:subcategory_details' subcategory.category.id subcategory.id %}">
                    {{ subcategory.name }}
                </a>
            </div>
            <div class="row">
                {% for skill in subcategory.skill_set.all %}
                <div class="col-md-4">
                    <div class="skill-card card" data-toggle="tooltip" data-placement="top"
                        title="{{ skill.description }}">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'portfolio:skill_details' skill.id %}">{{ skill.name }}</a>
                            </h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}